.form {
  margin-top: 10%;
  padding: 1rem;
}

.header {
  position: relative;
  justify-self: center;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input,
.control textarea {
  display: block;
  font: inherit;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.25rem;
  width: 100%;
}

.actions {
  margin-top: 1rem;
  text-align: right;
  display: flex;
  justify-content: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color:  #1d8a48;
  color: white;
  padding: 0.5rem 1.5rem;
  border: 1px solid #264b1b;
  border-radius: 4px;
  font-weight: bold;
}

.actions button:hover,
.actions button:active {
  background-color: #13420f;
  border-color: #264b1b;
}